.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1003;
    box-shadow: 0 4rem 8rem rgba($color-black, 0.4);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
  }

  &__background {
    width: 6rem;
    position: fixed;
    height: 6rem;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    opacity: 0;
    width: 0;
  }

  &__list {
    @include centerVerticalHorizontal;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin-bottom: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      display: inline-block;
      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary-light;
      transform: translateX(1rem);
    }
  }

  // Icon Functionality

  &__checkbox:checked ~ &__background {
    transform: scale(150);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }

  &__icon {
    transition: transform 0.5s;
  }

  &__checkbox:checked ~ &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked ~ &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      display: inline-block;
      background-color: $color-gray-dark;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1.2rem;
  }

  &__button:hover &__icon::after {
    top: 1.2rem;
  }
}
