.form {
  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    font-family: inherit;
    color: inherit;
    transition: all 0.5s;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-white, 0.1);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: color-gray-dark;
    }
  }

  &__group {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 900;
    margin-left: 2rem;
    margin-top: 1rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4.4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 5rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 4px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -0.01;

    &::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-color: $color-primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.5s;
    }
  }
  &__radio-input:checked + .form__radio-label .form__radio-button::after {
    opacity: 1;
  }
}
